/* .container {
    display: flex;
    margin-top: 20px !important;
}

.navbarNav {
    nav-right: auto !important;
}

.profimg { 
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.navbar-brand {
    font-size: 18px !important;
} */